# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
ENV/
env/

# VSCode & IDE config
.vscode/
.idea/

# Pytest & coverage
*.log
.coverage
htmlcov/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Uvicorn logs
*.pid
*.log
